/CryptoPairs/obj/

# Игнорировать папку bin и все её содержимое
/CryptoPairs/bin/

/.vs

/CryptoPairs.sln

# Игнорировать файлы с расширением .log
*.log

# Игнорировать файл с именем secret.txt
secret.txt